.center-container {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  width: 400px;
  height: 400px;
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titu {
  margin-bottom: 20px; /* Aumentar el margen inferior para separar el título del cuadrado */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.titulo {
  font-size: 2.5rem; /* Ajustar tamaño de fuente para que no sea demasiado grande */
  color: #333; /* Color del texto */
  font-family: Arial, sans-serif; /* Fuente */
  text-align: center; /* Centrar el texto */
  padding: 10px; /* Agregar padding para evitar que las letras estén pegadas al borde */
  background-color: rgba(255, 255, 255, 0.8); /* Agregar fondo blanco para mayor legibilidad */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para el título */
}



.image-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.dashed-box {
  width: 100%;
  height: 100%;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #080808;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

/* From Uiverse.io by Praashoo7 */ 
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}
